<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1">
    <title>TA_AI</title>
    <link rel="stylesheet" href="css/bootstrap.css">




    <body>
        <!-- navbar 부분.-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">

                    <a class="navbar-brand" href="gang.html">
                        <h2>TA and AI</h2>
                    </a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
        </nav>

        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Abstract</h3>

        <div style="float: left; width: 50%;">

            <form>
                <table border="none" align="center"style="margin: auto;  width: 90%; height: 100px; text-align: center;">

                    <tbody>
                        <tr>
                            <td>Deep Learning</td>
                            <td>#</td>

                        </tr>
                        <tr>
                            <td>GP</td>
                            <td>#</td>

                        </tr>

                    </tbody>
                </table>
            </form>
        </div>




        <div style="float: left; width: 50%;">
            <form>
                <table  border="none" align="center" style="margin: auto;  width: 90%; height: 100px; text-align: center;">



                    <tbody>
                        <tr>
                            <td>Deep Learning</td>
                            <td>#</td>
         
                        </tr>
                        <tr>
                            <td>GP</td>
                            <td>#</td>
              
                        </tr>

                    </tbody>
                </table>
            </form>
        </div>
        <br>
        




        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Details</h3>
        <section class="container">
            <table border="none" align="center" style="height: 300px; width: 100%; margin: auto; text-align: center;">
                <tr>
                    <td colspan="10" style="font-size: 2em">Deep Learning</td>
                </tr>
                <th rowspan="2">Engine #</th>
                <th colspan="2">Engine Decision</th>
                <th rowspan="2">Engine Accuracy</th>
                <th rowspan="2">못읽겠다</th>
                <th colspan="2">Final Decision</th>
                <th rowspan="2">Final Accuracy</th>
                <tr>
                    <th>&uarr; &darr;</th>
                    <th>scale</th>
                    <th>&uarr; &darr;</th>
                    <th>scale</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td rowspan="3">#</td>
                    <td rowspan="3">#</td>
                    <td rowspan="3">#</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>


                </tr>
                <tr>
                    <td>3</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>

                </tr>
            </table>

        </section>
        <br>
        <br>
        <br>

        <section class="container">
            <table border="none" align="center" style="height: 300px; width: 100%; margin: auto; text-align: center;">
                <tr>
                    <td colspan="6" style="font-size: 2em">Guassian Process</td>
                </tr>
                <th rowspan="2">Engine #</th>
                <th colspan="2">Engine Decision</th>
                <th rowspan="2">Engine Accuracy</th>
                <th rowspan="2">Final Decision</th>
                <th rowspan="2">Final Accuracy</th>
                <tr>
                    <th>&uarr; &darr;</th>
                    <th>scale</th>

                </tr>
                <tr>
                    <td>1</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>

                </tr>

            </table>
        </section>
    </body>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



    </body>
</head>

</html>